<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); %>
</head>

<body>

    <%- include('includes/navbar'); %>

    <div id="sb-layout">
        <div id="sb-sidebar">
            <%- include('includes/sidebar', {menu: 'home'}); %>
        </div>
        <div id="sb-content">
            <main>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h3>Home</h3>
                        </div>
                        <div class="col-auto">

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-4 mb-3">
                            <div class="card border-left-warning shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= stats.pending %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card border-left-success shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Done
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= stats.done %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <div class="card border-left-danger shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Error</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= stats.error %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="far fa-times fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 mb-3">
                            <div class="card shadow">
                                <div class="card-header">
                                    Rate Limits
                                </div>
                                <div class="card-body mt-2 mb-2">
                                    <div class="list-group ">
                                        <div class="list-group-item">
                                            <p class="font-weight-bold mb-0">The maximum number of requests you're permitted to make per hour</p>
                                            <span class="small"><%= rates.limit %></span>
                                        </div>
                                        <div class="list-group-item">
                                            <p class="font-weight-bold mb-0">The number of requests remaining in the current rate limit window</p>
                                            <span class="small"><%= rates.remaining %></span>
                                        </div>
                                        <div class="list-group-item">
                                            <p class="font-weight-bold mb-0">The time at which the current rate limit window resets</p>
                                            <span class="small"><%= new Date(rates.reset * 1000)  %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card shadow">
                                <div class="card-header">
                                    Progress
                                </div>
                                <div class="card-body">
                                    <div class="circle c100 p<%= stats.progress %> huge center ">
                                        <span><%= stats.progress %>%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <%- include('includes/footer'); %>

</body>

</html>
