<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head'); %>
</head>

<body>

    <%- include('includes/navbar'); %>

    <div id="sb-layout">
        <div id="sb-sidebar">
            <%- include('includes/sidebar', {menu: 'projects'}); %>
        </div>
        <div id="sb-content">
            <main>
                <div class="container-fluid">
                    <h3>Projects</h3>
                    <hr/>

                    <div class="card shadow">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-success ml-2" href="/add-projects">Add Projects</a>
                                </div>
                                <div class="col-auto">
                                    <form method="GET" action="/projects" class="form-inline">
                                        <div class="input-group">
                                            <input type="search" class="form-control" placeholder="Search" name="search" value="<%= search %>">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">
                                                    <i class="far fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px" class="text-center pr-3">Status</th>
                                            <th>Project</th>
                                            <th class="text-center">Message</th>
                                            <th style="width: 1px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (projects.length == 0) { %>
                                            <tr>
                                                <td colspan="4">No Projects</td>
                                            </tr>
                                        <% } else { %>

                                            <% projects.forEach(function(project, i){ %>
                                                <tr>
                                                    <td style="width: 1px" class="text-center pr-3">
                                                        <%if (project.status == 1) {%>
                                                            <i class="far fa-clock"></i>
                                                        <%}%>
                                                        <%if (project.status == 2) {%>
                                                            <i class="fas fa-check-circle text-success"></i>
                                                        <%}%>
                                                        <%if (project.status == 3) {%>
                                                            <i class="fas fa-exclamation-circle text-danger"></i>
                                                        <%}%>
                                                    </td>
                                                    <td>
                                                        <div class="text-truncate">
                                                            <a href="projects/<%= project.id %>"><%= project.url %></a>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span title="<%= project.status_message %>">
                                                            <%= project.status_message %>
                                                        </span>
                                                    </td>
                                                    <td style="width: 1px" class="pr-2">
                                                        <form method="POST" action="/projects/delete/<%= project.id %>" class="d-inline-block">
                                                            <a class="btn btn-sm btn-outline-danger pt-0 pb-0 btn-submit-parent" href="#">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </form>
                                                    </td>
                                                </tr>
                                            <% }); %>

                                        <% } %>

                                    </tbody>
                                </table>
                            </div>

                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col-auto">

                                    <div class="btn-toolbar">
                                        <div class="btn-group mt-1">
                                            <a href="projects?page=<%= previousPage %>&pageSize=<%= pageSize %>" class="btn btn-outline-primary">Previous</a>

                                            <% for (let i = page - 2; i < page; i++) { %>
                                                <% if (i >= 1) { %>
                                                    <a href="projects?page=<%= i %>&pageSize=<%= pageSize %>" class="btn btn-outline-primary"><%= i %></a>
                                                <% } %>
                                            <% } %>
                                            <a href="" class="btn btn-primary"><%= page %></a>
                                            <% for (let i = page + 1; i <= page + 2; i++) { %>
                                                <a href="projects?page=<%= i %>&pageSize=<%= pageSize %>" class="btn btn-outline-primary"><%= i %></a>
                                            <% } %>

                                            <a href="projects?page=<%= nextPage %>&pageSize=<%= pageSize %>" class="btn btn-outline-primary">Next</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <%- include('includes/footer'); %>

</body>

</html>
